<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #82b440;"></span>
		<span class="sg-label">#82b440</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4285f4;"></span>
		<span class="sg-label">#4285f4</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cad4e1;"></span>
		<span class="sg-label">#cad4e1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dfe1e5;"></span>
		<span class="sg-label">#dfe1e5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #202123;"></span>
		<span class="sg-label">#202123</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ebeef2;"></span>
		<span class="sg-label">#ebeef2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e8e8e8;"></span>
		<span class="sg-label">#e8e8e8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f0f6fd;"></span>
		<span class="sg-label">#f0f6fd</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d9e0e9;"></span>
		<span class="sg-label">#d9e0e9</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>
