{{!-- <ul class="icons inline-list">
	<li class="icon-twitter"></li>
	<li class="icon-facebook"></li>
	<li class="icon-stumbleupon"></li>
	<li class="icon-linkedin"></li>
	<li class="icon-pinterest"></li>
	<li class="icon-google-plus"></li>
	<li class="icon-youtube"></li>
	<li class="icon-feed"></li>
	<li class="icon-search"></li>
	<li class="icon-play"></li>
</ul> --}}

<ul class="icons inline-list">
	<li><img src="../../images/psd-icons/box.png"/></li>
	<li><img src="../../images/psd-icons/flexible.png"/></li>
	<li><img src="../../images/psd-icons/incredible_support.png"/></li>
	<li><img src="../../images/psd-icons/modern_design.png"/></li>
	<li><img src="../../images/psd-icons/optimized.png"/></li>
	<li><img src="../../images/psd-icons/powerful_shopping.png"/></li>
</ul>

<ul class="icons inline-list white-icon-list">
	<li><img src="../../images/psd-icons/design_icon.png"/></li>
	<li><img src="../../images/psd-icons/display_icon.png"/></li>
	<li><img src="../../images/psd-icons/setting_icon.png"/></li>
	<li><img src="../../images/psd-icons/support_icon.png"/></li>
</ul>
