<p><a href="#" class="btn btn-border">Button</a></p>
<p><a href="#" class="btn alt btn-border">Alternate Button</a></p>
<p><a href="#" class="btn disabled btn-border">Disabled Button</a></p>
<p><a href="#" class="text-btn">Text Button</a></p>
