.Icon_Gradient_Background {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-image: -moz-linear-gradient( 42deg, rgb(0,240,255) 0%, rgb(118,206,254) 39%, rgb(235,172,253) 100%);
  background-image: -webkit-linear-gradient( 42deg, rgb(0,240,255) 0%, rgb(118,206,254) 39%, rgb(235,172,253) 100%);
  background-image: -ms-linear-gradient( 42deg, rgb(0,240,255) 0%, rgb(118,206,254) 39%, rgb(235,172,253) 100%);
}
